In [17]:
import pandas as pd

In [18]:
file_path = r'res/01_result.csv'
df = pd.read_csv(file_path,  dtype=str)

In [19]:
df.columns

Index(['月份', '日期', '時間', '事故類別', '地點', '縣市', '天候', '光線', '速限', '路面狀況', '死亡人數',
       '受傷人數', '當事者順位', '車種', '性別', '年齡', '經度', '緯度'],
      dtype='object')

In [20]:
df = df.loc[:, ['月份',  '日期', '時間', '當事者順位', '車種', '性別', '年齡', '經度', '緯度']]
df.head()

  月份        日期        時間 當事者順位   車種 性別  年齡          經度         緯度
0  1  20240101  09:56:00     1   機車  男  19  120.533531  22.505826
1  1  20240101  13:56:00     1  大客車  男  57  121.387116  24.938925
2  1  20240101  13:56:00     2   機車  男  45  121.387116  24.938925
3  1  20240101  13:56:00     3    人  女  48  121.387116  24.938925
4  1  20240101  22:30:00     1   機車  男  63  119.641137  23.562740

In [21]:
df = df .drop_duplicates()
# 車種為空的是動物或堆置物
df = df .dropna(subset=['車種'])
df.shape

(465231, 9)

In [22]:
df['incident_id'] = df[['日期', '時間', '經度', '緯度']].apply("-".join, axis=1)
df.shape

(465231, 10)

In [23]:
res_file_path = r'res/'
df.to_csv(f"{res_file_path}/03_diff_party.csv", index=False)